.aside_container {
    background-color: rgb(24, 24, 114);
    text-align: center;
    justify-content: center;
    width: 25%;
    
}
.moneyList {
    list-style: none;
}
.moneyListItem {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
.moneyListItem.active {
    background-color: aqua;
}
.number {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}
.amount {
    font-size: 20px;
    font-weight: 300;
}